{% extends "contests/base.html" %}

{% block body %}
    <h1 class="mb-4">Привет, астронавты!</h1>

    <div class="rules">
        <p>
            Вы — участники международной космической экспедиции. Ваша задача — делать научные открытия быстрее и лучших
        других астронавтов. Чтобы превзойти их, вы можете решать специальные задания или мешать другим игрокам, закрывая перед ними
        двери в лаборатории или устраивая саботажи.
        </p>

        <p>
            После начала экспедиции вы увидите задания для вас на карте. Нажмите на задание, чтобы узнать, что именно требуется сделать.
        </p>

        <p>
            Если вы выполняете любое задание, вы получаете возможность один раз <b>закрыть двери</b> во все лаборатории для одной выбранной вами
        команды. Это означает, что эта команда в течение десять следующих минут не сможет отправлять свои решения. Необязательно использовать эту возможность сразу
        — возможно, она пригодится вам позже ;-)
        </p>

        <p><b>Обратите внимание:</b> команде нельзя закрыть двери, если они уже закрыты для неё прямо сейчас, или если они были закрыты для неё менее пяти минут назад.</p>

        <p>
            Если вы выполняете любое из заданий <b>с первой попытки</b>, то вы получаете возможность один раз <b>устроить саботаж</b>.
            Для этого вам будет предложено выбрать не больше {{ contest.max_sabotage_users|default:"скольки-то" }} команд, для
            которых система сгенерирует дополнительное задание. Они должны будут выполнить это задание в течение следующих десять минут.
            Если выполнят, получат дополнительные 100 баллов, а вы не получите ничего. Если не выполнят, то они потеряют 100 баллов,
            а вы эти 100 баллов заработаете.
        </p>

        <p>
            Но будьте внимательны — саботаж могут устроить и вам! Тогда уже вам надо будет решать дополнительное задание. Разрешите
        нашему сайту присылать вам уведомление или откройте страницу с картой и посматривайте на неё — мы оповестим вас, когда
        для вас устроят саботаж.
        </p>

        <p>
            <b>Как мы определим победителя</b>
        </p>

        <p>
            За каждое выполненное задание из основного набора вы получите баллы. Стоимость задания зависит от задания и от того, каким по счёту
        вы это задание решили. Если вы решили задание первыми среди всех команд, то вы получите полную стоимость задания.
        Если вы решите задание n-ым по счёту, то вы получите $⌊score \times (1 - K \times (n - 1))⌋$ баллов, где $score$ — полная стоимость задания,
        а $K$ — коэффициент понижения. {% if contest %}В нашем случае коэффициент понижения равен {{ contest.problem_score_coefficient }}.{% endif %}
        </p>

        {% if link_to_main_page %}
            <a href="{% url "home" %}">← вернуться на главную</a>
        {% else %}
            <i>После начала экспедиции обновите эту страницу.</i>
        {% endif %}
    </div>
{% endblock %}